    /*A-L-T-A-L-A-N-O-S*/

* {box-sizing: border-box;}

html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: gray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container>* {
    margin: 1%;
}



        /*F-O-N-T-S*/

body, h1, h2, h3 {
    font-family: 'cinzel';  
}
@font-face {
    font-family: "cinzel";
    src: url(fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}
.slog, article, aside {
    font-family:'montserrat';
}
@font-face {
    font-family: "montserrat";
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
.chris {
    font-family: 'dancing';
    font-size: 30px;
}
@font-face {
    font-family: "dancing";
    src: url(fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}



        /*N-A-V*/

nav {
    flex: 1 1 98%;
    background-color: #003049;
}
nav a {
    display: block;
    padding: 8px;
    margin: 0;
    background-color: #c1121f;
    color: #fdf0d5;
    text-align: center;
}
.active {
    background-color: #780000;
}
nav a:hover {
    font-size: larger;
    background-color: #980e17;
    text-shadow:3px 3px 10px rgba(255, 255, 255, 0.5);
}



        /*F-O-R-M-Á-Z-Á-S-O-K*/
        
header {
    padding: 2px;
    margin: 0;
    background-color: #003049;
    color: #fdf0d5;
    text-align: left;
    font-weight: bold;
}

article {
    padding: 0 20px 0 20px;
    background-color: #669bbc;
    color: black;
    text-align: justify;
}

aside {
    padding: 20px 0;
    background-color: #780000;
    color: #fdf0d5;
    text-align: center;
    height: fit-content;
}

footer {
    padding: 20px;
    background-color: #003049;
    color: #fdf0d5;
    text-align: right;
    margin-top: auto;
}



        /*Á-L-T-A-L-Á-N-O-S  T-A-G-E-K*/

h1 {
    text-shadow:3px 3px 10px rgba(255, 255, 255, 0.5);
    margin: 10px 0;
}
h2 {
    margin: 5px 0 20px 0;
    line-height: 30px;
}
.slog {
    letter-spacing: 8px;
    font-weight: lighter;
}

body a {
    text-decoration: none;
}

.link {
    color: #fdf0d5;
}

article li {
    list-style-type: circle;
    text-align: left;
    padding: 10px;
}
aside li {
    list-style-type: circle;
    text-align: left;
    padding: 10px;
}

footer h2 {
    margin: 5px 0;
}



        /*O-L-D-A-L-2*/

.leiras {
    background-color: #003049;
    color: #fdf0d5;
}

.movie h2 {
text-align: left;
}


        /*F-L-I-P*/

.flip{
    position:relative;
    width: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: 1s;
}
.flip.is-flipped {
    transform: rotateX(-180deg);
    transition: 1s;
    align-self: center;
}

.back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transform: rotateX(180deg);
    background: #780000;
}
.front{
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    backface-visibility: hidden;
}

.movie {
    flex: 1;
}
.lista {
    flex: 0 0 auto;
}

.front aside {
    height: 100%;
}


        /*B-A-C-K-G-R-O-U-N-D  P-I-C-S*/

.inception {
    background-image: url("pics/pexels-souvenirpixels-1571442.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #003049;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
}
.interstellar {
    background-image: url("pics/pexels-seurafrancis99-8557470.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-text-stroke-color: #fdf0d5;
    -webkit-text-stroke-width: 0.5px;
}
.batman {
    background-image: url("pics/pexels-tatiana-fet-420381-1105766.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #003049;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
.tenet {
    background-image: url("pics/pexels-alessio-melis-3859557-6648225.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-text-stroke-color: #fdf0d5;
    -webkit-text-stroke-width: 0.5px;
}
.prestige {
    background-image: url("pics/pexels-marek-piwnicki-3907296-18759224.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #003049;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
.memento {
    background-image: url("pics/pexels-karolina-grabowska-5202393.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-text-stroke-color: #fdf0d5;
    -webkit-text-stroke-width: 0.5px;
}
.dunkirk {
    background-image: url("pics/fighter-jet-7503437_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #003049;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
.oppenheimer {
    background-image: url("pics/pexels-pixabay-417070.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-text-stroke-color: #fdf0d5;
    -webkit-text-stroke-width: 0.5px;
}



        /*O-L-D-A-L-3*/

.leiras3 {
    flex: 1 1 98%;
    padding: 10px 20px 0;
    margin: 5px;
    background-color: #003049;
    color: #fdf0d5;
}
.tippek {
    flex: 1 1 98%;
    padding: 10px 20px 0;
    margin: 5px;
}
.fontos {
    color: #c1121f;
    text-shadow:1px 1px 3px #780000;
}
.leiras3 h2 {
    margin: 15px 0 0 0;
}

.arlista {
    flex: 1 1 98%;
    margin: 10px;
    padding: 30px 20px;
}
.arlista table, td{
    border: solid black;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: left;
}
.arlista table {
    margin: auto;
}



        /*O-L-D-A-L-4*/

.quiz {
    flex: 1 1 98%;
}
.ajandek {
    flex: 1 1 98%;
}

.jelszo {
    border-radius: 10px;
    border: solid #003049;
}

.help {
    float: right;
}
.help:hover {
    text-shadow:3px 3px 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.sub {
    margin: 5px 0;
}



        /*R-E-S-Z-P-O-N-Z-I-V-I-T-Á-S*/

@media all and (min-width: 600px) {
    /*tablet*/

        /*N-A-V*/
    nav a {
        display: inline-block;  
        padding: 8px 16px;
        
    }
    nav a:hover {
        font-size: medium;
    }
    
        /*O-L-D-A-L-2*/
    article.leiras, aside.kulonleges2 {
        flex-basis: 98%;
    }

        /*O-L-D-A-L-3*/
    .tippek {
        flex-basis: 48%;
    }
    .tab {
        flex-basis: 98%;
    }

        /*O-L-D-A-L-4*/
    .quiz {
        flex-basis: 30%;
    }
    .ajandek {
        flex-basis: 60%;
    }    
}



@media all and (min-width: 768px) {
    /*számítógép*/

        /*N-A-V*/
    nav {
        height: 30px;
    }

        /*O-L-D-A-L-1*/
    .container1 {
        display: flex;
        flex-direction: row;
    }
    .bal{
        flex-basis: 70%;
        margin: 10px;
    }
    .jobb {
        align-self: center;
        flex-basis: 30%;
        margin: 10px;
    }

        /*O-L-D-A-L-2*/
    .flip{
            flex-basis: 48%;
    }

        /*O-L-D-A-L-3*/
    .tippek, .tab {
        flex-basis: 32%;
    }
    .arlista {
        flex-basis: 30%;
    }
    .utolso {
        order: 1;
    }
}